<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.potato.potatoapp"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-sdk
        android:minSdkVersion="8"
        android:targetSdkVersion="21" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name="com.potato.potatoapp.activities.MainActivity"
            android:label="Potato Diagnostics" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.potato.potatoapp.activities.SymptomActivity"
            android:label="Potato Diagnostics" >
        </activity>
        <acticom.potato.potatoapp.activities.DiseaseActivity android:name=".DiseaseActivity"
            android:label="Potato Diagnostics" >
        </acticom.potato.potatoapp.activities.DiseaseActivity>
        <acticom.potato.potatoapp.activities.VideoActivity   android:name=".VideoActivity"
            android:label="@string/title_activity_video" >
        </acticom.potato.potatoapp.activities.VideoActivity>
    </application>

</manifest>
